html, body {
  margin: 0 ;
  margin-top: $body-margin-top;
  padding: 0;
  overflow: hidden;
  font-family: $default-font;
  background-color: whitesmoke;
}

body {
  &.hide-scroll-bar {
    overflow: hidden;
  }
  .title {
    color: black;
    font-size: 16px !important;
    text-decoration: none !important;
  }

  font-size: 0.85em;
}

.no-overflow {
  overflow: hidden;
}

.float-left {
  float: left;
}

.pos-absolute {
  position: absolute !important;
}

md-input-container {
  width: 100%;
}

md-list-item .mat-list-item {
  padding: 0px !important;
  width: 100%;

  &.mat-list-item-content {
    padding: 0px !important;
  }
}

.padding-all-0 {
  padding: 0px;
}