<style>
    .main-area {
        height: 900px;
    }
    .bar {
        stroke: none;
        opacity: 0.7;
        fill-opacity: 0.7;

    }

    .bar .active{
        opacity: 1 !important;
        fill-opacity: 1 !important;
    }
    .network-container {
        height: 100%;
    }

</style>

<section class="main-area">
    <md-sidenav-layout class="sidenav-layout" style="height:800px">
        <md-sidenav #left [opened]="true" mode="side" style="width: 500px;">
            <button md-icon-button (click)="left.close()" class="close">
                <md-icon class="md2 md-icon material-icons"> cancel </md-icon>
            </button>
            <!--<button md-icon-button (click)="getData()" class="close">-->
            <!--<md-icon class="md2 md-icon material-icons"> cancel </md-icon>-->
            <!--</button>-->
            <div style="margin-top: 12px;">
                <md-tab-group (selectChange)="tabChanges($event)">
                    <md-tab>
                        <template md-tab-label class="title"> View </template>

                        <div class="margin-bottom-15"  style="width:100%;">
                            <simple-search-form class="margin-bottom-10"
                                                (searchOnTerm)="performSearch($event)">

                            </simple-search-form>
                        </div>


                        <div>
                            <md-toolbar>Display</md-toolbar>

                            <md-card>

                                <div class="title">Node Color</div>

                                <md-button-toggle-group #groupColor="mdButtonToggleGroup">
                                    <md-button-toggle value="label">
                                        Type
                                    </md-button-toggle>
                                    <md-button-toggle value="age">
                                        Age
                                    </md-button-toggle>
                                    <md-button-toggle value="gender">
                                        Gender
                                    </md-button-toggle>
                                    <md-button-toggle value="favoriteFruit">
                                        Favorite Fruit
                                    </md-button-toggle>
                                    <md-button-toggle value="justify" disabled>
                                        Country
                                    </md-button-toggle>
                                </md-button-toggle-group>
                                <!--<div class="example-selected-value">Selected value: {{groupColor.value}}</div>-->

                                <div class="title"style="margin-top: 10px;">Node Dimension</div>
                                <md-button-toggle-group #groupRadius="mdButtonToggleGroup">
                                    <md-button-toggle value=""> Default
                                        <!--<md-icon>format_align_left</md-icon>-->
                                    </md-button-toggle>
                                    <md-button-toggle value="age"> Age
                                    </md-button-toggle>
                                    <md-button-toggle value="friends"> Number Of Friends
                                    </md-button-toggle>
                                </md-button-toggle-group>
                                <!--<div class="example-selected-value">Selected value: {{groupRadius.value}}</div>-->

                                <div class="title"style="margin-top: 10px;">Link Width</div>
                                <md-button-toggle-group #groupWidth="mdButtonToggleGroup">
                                    <md-button-toggle value=""> Default
                                    </md-button-toggle>
                                    <md-button-toggle value="age"> Years of Friendship
                                    </md-button-toggle>
                                </md-button-toggle-group>

                            </md-card>
                        </div>


                    </md-tab>
                    <md-tab>
                        <template md-tab-label class="title"> Analysis</template>

                        <div class="panel-contents margin-bottom-10">

                            <charts [data]="inputData"
                                    [dataLine]="lineData">
                            </charts>
                            <!--<charts [data]="inputData">-->
                            <!--</charts>-->

                        </div>

                    </md-tab>
                </md-tab-group>
            </div>


        </md-sidenav>

        <md-sidenav #right align="end">
            <button md-icon-button (click)="right.close()" class="md-24 close">
                <md-icon class="md2 md-icon material-icons"> cancel </md-icon>
            </button>
            <div class="panel-contents">
                Something in here

            </div>

        </md-sidenav>
        <div class="sidenav-content no-overflow">
            <button md-icon-button
                    *ngIf="!left.opened"
                    title ="Expand"
                    (click)="left.toggle()">
                <md-icon class="md2 md-icon material-icons"> menu </md-icon>
            </button>

            <network [colorValue]="groupColor.value"
                     [radiusValue]="groupRadius.value"
                     [networkData]="networkData"
                     (hoverOverNode)="hoverOverNodeHandler($event)"
                     (selectedNodesChange)="updateNodesSelection($event)"
                     (nodeContextMenuShow)="showNodeContextMenu($event)"
                     class="network-container">
            </network>
            <div class="graph-footer">
                <ul *ngIf="showFooter">
                <!--<ul *ngIf="graphFooterDetails">-->
                    <li class="info-type">
                        <md-chip-list>
                            <md-chip> {{graphFooterTitle}}</md-chip>
                        </md-chip-list>
                    </li>
                    <li>
                        <span class="title">{{graphFooterDetails[0].label}}:</span> <span class="title">{{graphFooterDetails[0].value}}</span>
                    </li>
                    <!--<li *ngFor="let details in graphFooterDetails">-->
                        <!--<span class="title">{{details.label}}:</span> <span class="title">{{details.value}}</span>-->
                    <!--</li>-->
                </ul>
            </div>

        </div>
    </md-sidenav-layout>
</section>

<!--<md-card role="menu" width="4" [ngStyle]="nodeContextMenuPosition" class="padding-all-0">-->
<!--[ngStyle]="{'width':'270px', 'background':'white', 'position':'fixed', 'left': nodeContextMenuPositionX+'px', 'top': nodeContextMenuPositionY+'px'"-->
<!--[ngStyle]="{'color':'red', 'font-size': fontSize+'px'}"-->
<md-card role="menu" width="4" *ngIf="!hideNodeContextMenu"
         [ngStyle]="{'width':'270px', 'background':'white', 'position':'fixed', 'left': nodeContextMenuPositionX+'px', 'top': nodeContextMenuPositionY+'px'}"
         class="padding-all-0">
<md-list class="padding-all-0">
<md-list-item *ngFor="let option of nodeContextMenuOptions" class="padding-all-0">
<button md-button (click)="nodeSelectionOperation(option.id)">
        {{option.label}}
</button>
</md-list-item>
</md-list>
</md-card>